<!DOCTYPE html>
<html>
<head>
    <title>Ana Sayfa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Hoş Geldiniz!</h1>
        <p>Lütfen giriş yapmak veya kayıt olmak için aşağıdaki düğmelere tıklayın.</p>
        <a href="/admin/login" class="btn btn-primary mr-2">Giriş Yap</a>
        <a href="/admin/register" class="btn btn-success">Kayıt Ol</a>
    </div>
</body>
</html>
