<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2>Profile</h2>

        <div>
            <table class="userInfoTable" border="1">
                <tr>
                    <th>Shop Name</th>
                    <td>
                        <%=body.name%>
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>
                        <%=body.mail%>
                    </td>
                </tr>
                <tr>
                    <th>preminum</th>
                    <td>
                        <%=body.preminum%>
                    </td>
                </tr>
            </table>
        </div>





    </div>


    <script src="profile.js"></script>

</body>

</html>