<!DOCTYPE html>
<html>

<head>
    <title>Kayıt Ol</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2>Kayıt Ol</h2>
        <form id="register-form">
            <div class="form-group">
                <label for="name">User Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="mail">E-posta Adresi</label>
                <input type="mail" class="form-control" id="mail" name="mail" required>
            </div>
            <div class="form-group">
                <label for="password">Şifre</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('register-form');

            form.addEventListener('submit', async function (event) {
                event.preventDefault();

                const name = document.getElementById('name').value;
                const mail = document.getElementById('mail').value;
                const password = document.getElementById('password').value;

                const data = {
                    name: name,
                    mail: mail,
                    password: password,
                };

                fetch("/api/register", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                })
                    .then(response => response.json())
                    .then(result => {
                        if (result.success) {

                            const token = result.token

                            const expirationDate = new Date(Date.now() + 60 * 60 * 24 * 7);

                            const cookieValue = `token=${token}; expires=${expirationDate.toUTCString()}; path=/`;

                            document.cookie = cookieValue;
                            window.location.href = "/admin/profile";

                        } else {
                            alert(result.error);
                        }
                    })
                    .catch(error => {
                        console.error("API hatası:", error);
                        alert("Bir hata oluştu. Lütfen tekrar deneyin.");
                    });
            });
        });

    </script>

</body>

</html>
